@charset "UTF-8";
/* CSS Document */
body {
	background-color: #f1f1f1;	
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

form header {
  margin: 0 0 20px 0; 
}
form header div {
  font-size: 90%;
  color: #999;
}
form header h2 {
  margin: 0 0 5px 0;
}
form > div {
  clear: both;
  overflow: hidden;
  padding: 10px;
  margin: 0 0 10px 0;
}
form > div > fieldset > div > div {
  margin: 0 0 5px 0;
}
form > div > label,
legend {
  width: 25%;
  float: left;
  padding-right: 10px;
}
form > div > div,
form > div > fieldset > div {
  width: 75%;
  float: right;
}
form > div > fieldset label {
	font-size: 90%;
}
fieldset {
	border: 0;
  padding: 0;
}

input[type=text],
input[type=email],
input[type=url],
input[type=password],
textarea {
  width: 80%;
  border-top: 2px solid #ccc;
  border-left: 2px solid #ccc;
  border-right: 2px solid #eee;
  border-bottom: 2px solid #eee;
}
input[type=text],
input[type=email],
input[type=url],
input[type=password] {
  width: 50%;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
textarea:focus {
  outline: 0;
  border-color: #4697e4;
}




@media (min-width: 320px) and (max-width: 480px){
	
#wrapper {
	background-color:#FFF;
	width:98%;
	height:100%;
	font-family: 'Montserrat', sans-serif;
	margin: auto;
		
}

#header {
	background-image: url(../images/logoSmall.png), url(../images/headerBg.png);
	background-color: #91E0F1;
	height: 80px;
	width: 100%;
	background-repeat: no-repeat, repeat;
	background-position: center center;
}

#slider{
	max-width:80%;
  	margin:0px auto;
  	background:#fff;
  	padding:15px;	
}

#services {
	display:block;
	height: 100%; 
	margin: auto;	
}

#services h2{
	color: #91E0F1;
	margin:auto;
	text-align:center;
	padding-bottom: 10px;
}

.brightMinds {
	background-image: url(../images/brightMindsSmall.png);
	background-repeat: no-repeat;
	background-position: center center;
	display: block;	
	width: 100%;
	height: 150px;	
	text-indent: -9999px;
}


.brightMinds a {
	height:150px;
	width: 100%;	
	display:block;
}


.awardWinning{
	background-image: url(../images/awardWinningSmall.png);
	background-repeat: no-repeat;
	background-position: center center;
	display: block;	
	width: 100%;
	height: 150px;
	text-indent: -9999px;
}

.awardWinning a {
	height:150px;
	width: 100%;	
	display:block;
}

.contactUs {
	background-image: url(../images/contactUsSmall.png);
	background-repeat: no-repeat;
	background-position: center center;
	display: block;
	width: 100%;
	height: 150px;
	text-indent: -9999px;	
}

.contactUs a {
	height:150px;
	width: 100%;	
	display:block;
}

#about {
	display:block;
	margin:auto;
	padding: 8px;
}

#about img {
	padding: 5px;	
	display: block;
	margin: auto;
}

#contact {
	display: block;
	margin: auto;
	padding: 15px 8px 15px 8px;	
}

#footer {
	position: relative;
	bottom: 0;
	clear: both;
	background-color: #91E0F1;
	height: 200px;
	margin: auto;
	padding: 20px;
	border-top-width: 10px;
	border-top-style: solid;
	border-top-color: #c8f8fc;
}

.footerInfo{
	height:80px;
	width: 100%;
	display: block;	
	margin: auto;
	padding-bottom: 30px;
}

.footerInfo a {
	color: #000;	
}

.footerMap{
	height: 100px;
	width:100%;
	display: block;
	margin: auto;
}	

.headingText{
	color: #91E0F1;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	text-decoration: none;
}

.subHeadingText{
	color: #12a3c9;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	text-decoration: none;
}

}

@media (min-width: 481px) and (max-width: 768px) {

#wrapper {
	background-color:#FFF;
	width:90%;
	height:100%;
	font-family: 'Montserrat', sans-serif;
	margin:auto;
		
}

#header {
	background-image: url(../images/logoMed.png), url(../images/headerBg.png);
	background-color: #91E0F1;
	height: 150px;
	width: 100%;
	background-repeat: no-repeat, repeat;
	background-position: center center;
}	

#slider{
	max-width:80%;
  	margin:0px auto;
  	background:#fff;
  	padding:15px;	
}

#services {
	display:block;
	height: 100%; 
	margin:auto;	
}

#services h2{
	color: #91E0F1;
	margin:auto;
	text-align:center;
	padding-bottom: 15px;
}

.brightMinds {
	background-image: url(../images/brightMindsSmall.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	width: 33.3%;	
	height: 300px;
	text-indent: -9999px;
}

.brightMinds a {
	height:300px;
	width: 100%;
	float:left;	
}

.brightMinds a:hover {
	height: 300px;
	width: 100%;
	display: block;
	background: rgba(145,224,241,0.22);	
}

.awardWinning{
	background-image: url(../images/awardWinningSmall.png);
	background-repeat: no-repeat;
	background-position: center center;	
	float: left;
	width: 33.4%;	
	height: 300px;
	text-indent: -9999px;
}

.awardWinning a {
	height:300px;
	width: 100%;
	float:left;	
}

.awardWinning a:hover {
	height: 300px;
	width: 100%;
	display: block;
	background: rgba(145,224,241,0.22);	
}

.contactUs {
	background-image: url(../images/contactUsSmall.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	width: 33.3%;
	height: 300px;
	text-indent: -9999px;	
}

.contactUs a {
	height:300px;
	width: 100%;
	float:left;	
}

.contactUs a:hover {
	height: 300px;
	width: 100%;
	display: block;
	background: rgba(145,224,241,0.22);	
}

#about {
	display: block;
	margin: auto;
	padding: 15px 16px 15px 16px;	
}

#about img {
	padding: 7px;
	float:right;	
}

#contact {
	display: block;
	margin: auto;
	contact: 16px;	
}

#footer {
	position: relative;	
	bottom: 0;
	clear:both;
	background-color: #91E0F1;
	height: 150px;
	margin: auto;
	padding: 20px;
	border-top:solid;
	border-top-width:10px;	
	border-top-color: #C8F8FC;
}

.footerInfo{
	height:80px;
	width: 50%;
	display: block;
	float: left;	
}

.footerInfo a {
	color: #000;	
}

.footerMap{
	height: 100px;
	width:50%;
	display: block;
	float: right;
}

.headingText{
	color: #91E0F1;
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
	text-decoration: none;
}

.subHeadingText{
	color: #12a3c9;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	text-decoration: none;
}

  form > div {
    margin: 0 0 15px 0; 
  }
  form > div > label,
  legend {
	  width: 80%;
    float: none;
    margin: 0 0 5px 0;
  }
  form > div > div,
  form > div > fieldset > div {
    width: 80%;
    float: none;
  }
  input[type=text],
  input[type=email],
  input[type=url],
  input[type=password],
  textarea,
  select {
    width: 80%; 
  }
	
}

@media (min-width: 769px) and (max-width: 1200px) {

#wrapper {
	background-color:#FFF;
	width:90%;
	height:100%;
	font-family: 'Montserrat', sans-serif;
	margin:auto;
		
}

#header {
	background-image: url(../images/logoMed.png), url(../images/headerBg.png);
	background-color: #91E0F1;
	height: 150px;
	width: 100%;
	background-repeat: no-repeat, repeat;
	background-position: center center;
}	

#slider{
	max-width:80%;
  	margin:0px auto;
  	background:#fff;	
}


#services {
	display:block;
	height: 100%;
	margin: auto;
	text-align:center;
}

#services h2{
	color: #91E0F1;
	margin:auto;
	text-align:center;
	padding-bottom:20px;
}

.brightMinds {
	background-image: url(../images/brightMindsSmall.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	width: 33.3%;	
	height: 300px;
	text-indent: -9999px;
}


.brightMinds a {
	height:300px;
	width: 100%;	
	float:left;	
}

.brightMinds a:hover {
	height: 300px;
	width: 100%;
	display: block;
	background: rgba(145,224,241,0.22);	
}

.awardWinning{
	background-image: url(../images/awardWinningSmall.png);
	background-repeat: no-repeat;
	background-position: center center;	
	float: left;
	width: 33.4%;	
	height: 300px;
	text-indent: -9999px;
}

.awardWinning a {
	height:300px;
	width: 100%;
	float:left;	
}

.awardWinning a:hover {
	height: 300px;
	width: 100%;
	display: block;
	background: rgba(145,224,241,0.22);	
}

.contactUs {
	background-image: url(../images/contactUsSmall.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	width: 33.3%;
	height: 300px;
	text-indent: -9999px;
}
.contactUs a {
	height:300px;
	width: 100%;
	float:left;	
}

.contactUs a:hover {
	height: 300px;
	width: 100%;
	display: block;
	background: rgba(145,224,241,0.22);	
}

#about {
	display: block;
	margin: auto;
	padding: 15px 20px 15px 20px;	
}

#about img {
	padding: 7px;
	float:right;	
}

#contact {
	display: block;
	margin: auto;
	padding: 20px;	
}

#footer {
	position: relative;	
	bottom: 0;
	clear:both;
	background-color: #91E0F1;
	height: 150px;	
	padding: 20px;
	margin: auto;
	border-top:solid;
	border-top-width:10px;
	border-top-color: #C8F8FC;	
}

.footerInfo{
	height:80px;
	width: 50%;
	display: block;
	float: left;
	margin: auto;	
}

.footerInfo a {
	color: #000;	
}

.footerMap{
	height: 100px;
	width:50%;
	display: block;
	float: right;
	margin: auto;
}

.headingText{
	color: #91E0F1;
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
	text-decoration: none;
}

.subHeadingText{
	color: #12a3c9;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	text-decoration: none;
}

  form > div {
    margin: 0 0 15px 0; 
  }
  form > div > label,
  legend {
	  width: 80%;
    float: none;
    margin: 0 0 5px 0;
  }
  form > div > div,
  form > div > fieldset > div {
    width: 80%;
    float: none;
  }
  input[type=text],
  input[type=email],
  input[type=url],
  input[type=password],
  textarea,
  select {
    width: 80%; 
  }
	
}

@media (min-width: 1201px) {

#wrapper {
	background-color:#FFF;
	width:90%;
	height:100%;
	font-family: 'Montserrat', sans-serif;
	margin:auto;
		
}

#header {
	background-image: url(../images/logoLarge.png), url(../images/headerBg.png);
	background-color: #91E0F1;
	height: 200px;
	width: 100%;
	background-repeat: no-repeat, repeat;
	background-position: center center;
}	

#slider{
	max-width:80%;
  	margin:0px auto;
  	background:#fff;
  	padding:15px;	
}


#services {
	display:block;
	height: 100%; 
	margin:auto;	
}

#services h2{
	color: #91E0F1;
	margin: auto;
	text-align: center;
	padding-bottom: 20px;
}

.brightMinds {
	background-image: url(../images/brightMindsLarge.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	width: 33.3%;	
	height: 300px;
	text-indent: -9999px;
}

.brightMinds a {
	height:300px;
	width: 100%;	
	float:left;
}

.brightMinds a:hover {
	height: 300px;
	width: 100%;
	display: block;
	background: rgba(145,224,241,0.22);	
}

.awardWinning{
	background-image: url(../images/awardWinningLarge.png);
	background-repeat: no-repeat;
	background-position: center center;	
	float: left;
	width: 33.4%;	
	height: 300px;
	text-indent: -9999px;
}

.awardWinning a {
	height:300px;
	width: 100%;
	float:left;	
}

.awardWinning a:hover {
	height: 300px;
	width: 100%;
	display: block;
	background: rgba(145,224,241,0.22);	
}

.contactUs {
	background-image:url(../images/contactUsLarge.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	width: 33.3%;
	height: 300px;
	text-indent: -9999px;	
}

.contactUs a {
	height:300px;
	width: 100%;
	float:left;	
}

.contactUs a:hover {
	height: 300px;
	width: 100%;
	display: block;
	background: rgba(145,224,241,0.22);	
}

#about {
	display: block;
	margin: auto;
	padding: 15px 20px 15px 20px;	
}

#about img {
	padding: 7px;
	float:right;	
}

#contact {
	display: block;	
	margin:auto;
	padding: 20px;
}

#footer {
	position: relative;	
	bottom: 0;
	clear:both;
	background-color: #91E0F1;
	height: 150px;
	padding: 20px;
	margin: auto;
	border-top:solid;
	border-top-width:10px;
	border-top-color: #C8F8FC;	
}


.footerInfo{
	height:80px;
	width: 50%;
	display: block;
	float: left;	
}

.footerInfo a {
	color: #000;	
}

.footerMap{
	height: 100px;
	width:50%;
	display: block;
	float: right;
}

.headingText{
	color: #91E0F1;
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
	text-decoration: none;
}

.subHeadingText{
	color: #12a3c9;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	text-decoration: none;
}
	
	
  form > div > label,
	legend {
  	text-align: right;
  }	
}



